.error { 
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 0;

		// .error__body

		&__body {
         text-align: center;
		}

		// .error__title

		&__title {

		}

		// .error__content

		&__content {
         width: 100%;
         max-width: 900px;
         margin: 20px auto 0;
		}

		// .error__btn

		&__btn {
         margin-top: 35px;
         display: flex;
         justify-content: center;
		}
}